<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel ="stylesheet" href="{{asset "css/style.css"}}">
    <link rel ="stylesheet" href="{{asset "css/subbscribe.css"}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700" >

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@blog.logo}}">
    <link rel="shortcut icon" href="{{@blog.logo}}">
    
    {{ghost_head}}

</head>
    
    <body style="background:url('{{@blog.cover}}');background-size:cover;background-attachment:fixed;">
    
        {{{body}}}

        <footer>
            Theme by <a href="https://github.com/Dennis-Mayk/Practice/">Dennis</a> // Logo by <a href="https://thenounproject.com/mockturtle/">Sergey Demushkin</a>
        </footer>
    
        {{ghost_footer}}
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{{asset "js/subbscribe.min.js"}}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='jquery-1.6.1.js'>\x3C/script>")</script>
	
	<script src="{{asset "js/scroll.js"}}"></script>
	<script>
	
	
	$('#timeline').infinitescroll({
		navSelector  	: "#next:last",
		nextSelector 	: "a#next:last",
		itemSelector 	: ".article .inner",
		debug		 	: true,
		dataType	 	: 'html',
        maxPage         : 3,
//		prefill			: true,
//		path: ["http://nuvique/infinite-scroll/test/index", ".html"]
		path: function(index) {
			return "index" + index + ".html";
		}
		// behavior		: 'twitter',
		// appendCallback	: false, // USE FOR PREPENDING
		// pathParse     	: function( pathStr, nextPage ){ return pathStr.replace('2', nextPage ); }
    }, function(newElements, data, url){
    	//USE FOR PREPENDING
    	// $(newElements).css('background-color','#ffef00');
    	// $(this).prepend(newElements);
    	//
    	//END OF PREPENDING
//    	window.console && console.log('context: ',this);
//    	window.console && console.log('returned: ', newElements);
    	
    });
	</script>
    
    </body>

</html>
