<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel ="stylesheet" href="{{asset "css/style.css"}}">
    <link rel ="stylesheet" href="{{asset "css/subbscribe.css"}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700" >

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@blog.logo}}">
    <link rel="shortcut icon" href="{{@blog.logo}}">
    
    {{ghost_head}}

</head>
    
    <body style="background:url('{{@blog.cover}}');-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed;width: 100%;">
    
        {{{body}}}

        <footer>
            Theme by <a href="https://github.com/Dennis-Mayk/Practice/">Dennis</a> // Logo by <a href="https://thenounproject.com/mockturtle/">Sergey Demushkin</a>
        </footer>
    
        {{ghost_footer}}
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{{asset "js/subbscribe.min.js"}}"></script>
        <script src="{{asset "js/infinitescroll.min.js"}}"></script>
        <script src="{{asset "js/index.js"}}"></script>
    
    </body>

</html>
