<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel ="stylesheet" href="{{asset "css/style.css"}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700" >

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@blog.logo}}">
    <link rel="shortcut icon" href="{{@blog.logo}}">
    
    {{ghost_head}}

</head>
<body style="background:url('{{@blog.cover}}');background-size:cover;background-attachment:fixed;">
    <div class="container">
    {{{body}}}

    <footer>
        Theme by <a href="https://github.com/Dennis-Mayk/Practice/">Dennis</a> // Logo by <a href="https://thenounproject.com/mockturtle/">Sergey Demushkin</a>
    </footer>
    </div>
    {{ghost_footer}}
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
  $('.bars').click(function(){
    $('#nav').toggleClass('open');
    $('.container').toggleClass('menu-open');
  });
});
    </script>
    <script>
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//tilligettherecom.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>

</body>

</html>
