<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <link rel="stylesheet" href="{{asset "css/weloveiconfonts.css"}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:700,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "apple-touch-icon-precomposed.png"}}">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> 
    
    {{ghost_head}}

</head>

<body>


    {{{body}}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $('#toggle').click(function() {
            $(this).toggleClass('active');
            $('#overlay').toggleClass('open');
        });

    </script>

</body>

</html>
