<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <link rel="stylesheet" href="{{asset "css/subbscribe.css"}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@blog.logo}}">
    <link rel="shortcut icon" href="{{@blog.logo}}"> {{#is "home"}}
    <style>
        header {
            margin: 20px auto;
            border-radius: 2px;
            padding-bottom: 20px;
            width: 80%;
            background: url({{@blog.cover}});
            background-size: cover;
            height: auto;
            text-align: center;
        }  
        header #nav li a {
            color: #fff;
        }
        @media screen and (max-width:600px) {
            header {
                width: 95%;
            }
        }
    </style>
    {{else}}
    <style>
        header {
            width: 100%;
            text-align: center;
            height: 50px;
        }
        header #nav li a,{
            color: #7bd0c1;
        }
        header #nav li a:hover {
            border: 2px solid #7bd0c1;
            border-radius: 5px;
            color: #7bd0c1;
        }
    {{/is}}
    </style>
    
    {{ghost_head}}

</head>

<body>

    {{{body}}}

    <footer>
        Theme by <a href="https://github.com/Dennis-Mayk/Practice/">Dennis</a> // Logo by <a href="https://thenounproject.com/mockturtle/">Sergey Demushkin</a>
    </footer>

    {{ghost_footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{asset "js/subbscribe.min.js"}}"></script>
    <script src="{{asset "js/infinitescroll.min.js"}}"></script>
    <script src="{{asset "js/index.js"}}"></script>

</body>

</html>
