{{!< default}} 
<header>
    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <div class="overlay" id="overlay">
        {{navigation}}
    </div>

    <section class="banner" role="banner">
        {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
        {{else}}
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2>{{@blog.description}}</h2>
        {{/if}}
    </section>
</header>

{{> loop}}
