{{!< default}} 
<header>
    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <div class="overlay" id="overlay">
        {{navigation}}
    </div>

    <section class="banner" role="banner">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2>{{@blog.description}}</h2>
    </section>
</header>



    <div class="index-wrapper">

        <section id="timeline">
            {{#foreach posts}}
            {{#if featured}}
            <article>

                <div class="inner">
                    <span class="date">
        <span class="day">{{date format="DD"}}</span>
                    <span class="month">{{date format="MMM"}}</span>
                    <span class="year">{{date format="YYYY"}}</span>
                    </span>
                    <a href="{{url}}">
                        <div class="gradient"></div>
                        <h2>{{{title}}}</h2>
                        <img src={{image}} />
                        <p>{{excerpt words="30"}}...</p>
                    </a>
                </div>

            </article>
            {{/if}}
            {{/foreach}}
            {{#foreach posts}}
            {{#unless featured}}
            <article>

                <div class="inner">
                    <span class="date">
        <span class="day">{{date format="DD"}}</span>
                    <span class="month">{{date format="MMM"}}</span>
                    <span class="year">{{date format="YYYY"}}</span>
                    </span>
                        <h2>{{{title}}}</h2>
                        <div class="post-date">{{#if tags}}{{tags separator=", " prefix="Tagged in: "}}{{/if}}</div>
                        <p>{{content}}</p>
                </div>

            </article>
            {{/unless}}
            {{/foreach}}
        </section>

        {{pagination}}

    </div>
