<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@blog.logo}}">
    <link rel="shortcut icon" href="{{@blog.logo}}"> {{ghost_head}}

</head>
<script type="text/javascript">
    var xr_xr = document.getElementById("xr_xr")

</script>

<body style="background:url('{{@blog.cover}}');background-size:cover;background-attachment:fixed;">

    <header>

        {{navigation}}

    </header>

    <div class="post-wrapper">
        {{#post}} 
        {{#if image}}<img class="cover-img" src="{{image}}">{{/if}}
        <h1>{{title}}</h1>

        {{content}}
        
        {{/post}}
        
        <table align="center">
            <tbody>
                <tr>
                    <td>&nbsp;
                    </td>
                    <td>
                        <select id="caliper_gender" name="caliper_gender" onChange="caliper_onGenderChange()">
                            <option value="0">Männlich</option>
                            <option value="1">Weiblich</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Methode:</strong></td>
                    <td>
                        <select id="caliper_method" name="caliper_method" onChange="caliper_onMethodChange()">
                            <option value="31">3-Falten Methode nach Jackson-Pollock</option>
                            <option value="7">7-Falten Methode nach Jackson-Pollock</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Brust:</strong></td>
                    <td>
                        <input id="brust_falte" name="caliper_input" type="text"> [mm]</td>
                </tr>
                <tr>
                    <td>
                        <strong>Bauch:</strong></td>
                    <td>
                        <input id="bauch_falte" name="caliper_input" type="text"> [mm]</td>
                </tr>
                <tr>
                    <td>
                        <strong>Oberschenkel:</strong></td>
                    <td>
                        <input id="oberschenkel_falte" name="caliper_input" type="text"> [mm]</td>
                </tr>
                <tr>
                    <td>
                        <strong>Schulterblatt:</strong></td>
                    <td>
                        <input disabled="disabled" id="schulterblatt_falte" name="caliper_input" type="text"> [mm]</td>
                </tr>
                <tr>
                    <td>
                        <strong>Trizeps:</strong></td>
                    <td>
                        <input disabled="disabled" id="trizeps_falte" name="caliper_input" type="text"> [mm]</td>
                </tr>
                <tr>
                    <td>
                        <strong>Achsel:</strong></td>
                    <td>
                        <input disabled="disabled" id="achsel_falte" name="caliper_input" style="background-color: #222222;" type="text"> [mm]</td>
                </tr>

                <tr>
                    <td>
                        <strong>Hüfte:</strong></td>
                    <td>
                        <input disabled="disabled" id="hueft_falte" name="caliper_input" type="text"> [mm]</td>
                </tr>




                <tr>
                    <td>
                        <strong>Alter:</strong></td>
                    <td>
                        <input id="caliper_alter" name="caliper_input" type="text"> [Jahr]</td>
                </tr>

                <tr>
                    <td>
                        <strong>Ergebnis Körperfettanteil:</strong></td>
                    <td>
                        <input id="caliper_fat_result" name="caliper_input" type="text" readonly> [%]</td>
                </tr>
                <tr>
                    <td>&nbsp;
                    </td>
                    <td>
                        <input name="berechnen" onClick="caliper_calculateFat();" type="submit" value="Körperfettanteil ermitteln">
                    </td>
                </tr>


            </tbody>
        </table>
  
        <script language="JavaScript">
            <!--
            function caliper_calculateFat() {

                var method = document.getElementById('caliper_method').value;
                var gender = document.getElementById('caliper_gender').value;
                var kfa;
                if (method == 31) {
                    var alter = parseFloat(document.getElementById('caliper_alter').value);
                    if (gender == 0) {
                        var brust = parseFloat(document.getElementById('brust_falte').value);
                        var bauch = parseFloat(document.getElementById('bauch_falte').value);
                        var oberschenkel = parseFloat(document.getElementById('oberschenkel_falte').value);
                        var sum = brust + bauch + oberschenkel;
                        var d = 1.1093800 - 0.0008267 * sum + 0.0000016 * sum * sum - 0.0002574 * alter;
                        kfa = 495 / d - 450;
                    } else if (gender == 1) {
                        var trizeps = parseFloat(document.getElementById('trizeps_falte').value);
                        var bauch = parseFloat(document.getElementById('bauch_falte').value);
                        var huefte = parseFloat(document.getElementById('hueft_falte').value);
                        var sum = trizeps + bauch + huefte;
                        var d = 1.0902369 - 0.0009379 * sum + 0.0000026 * sum * sum - 0.00000979 * alter;
                        kfa = 495 / d - 450;
                    }
                } else if (method == 7) {
                    var alter = parseFloat(document.getElementById('caliper_alter').value);
                    var brust = parseFloat(document.getElementById('brust_falte').value);
                    var bauch = parseFloat(document.getElementById('bauch_falte').value);
                    var achsel = parseFloat(document.getElementById('achsel_falte').value);
                    var schulterblatt = parseFloat(document.getElementById('schulterblatt_falte').value);
                    var huefte = parseFloat(document.getElementById('hueft_falte').value);
                    var oberschenkel = parseFloat(document.getElementById('oberschenkel_falte').value);
                    var trizeps = parseFloat(document.getElementById('trizeps_falte').value);
                    var sum = brust + bauch + achsel + schulterblatt + huefte + oberschenkel + trizeps;
                    var d;
                    if (gender == 0) {
                        d = 1.112 - 0.00043499 * sum + 0.00000055 * sum * sum - 0.00028826 * alter;
                    } else if (gender == 1) {
                        d = 1.0970 - 0.00046971 * sum + 0.00000056 * sum * sum - 0.00012828 * alter;
                    }
                    kfa = 495 / d - 450;
                }
                kfa = Math.round(kfa * 100) / 100;
                document.getElementById('caliper_fat_result').value = kfa;
            }

            function log10(arg) {
                return Math.log(arg) / Math.LN10;
            }

            function caliper_onGenderChange() {
                var method = document.getElementById('caliper_method').value;
                if (method == 31) {
                    var gender = document.getElementById('caliper_gender').value;
                    var trizeps = document.getElementById('trizeps_falte');
                    var huefte = document.getElementById('hueft_falte');
                    var brust = document.getElementById('brust_falte');
                    var oberschenkel = document.getElementById('oberschenkel_falte');
                    if (gender == 0) {
                        enable(brust);
                        enable(oberschenkel);
                        disable(trizeps);
                        disable(huefte);
                    } else if (gender == 1) {
                        disable(brust);
                        disable(oberschenkel);
                        enable(trizeps);
                        enable(huefte);
                    }
                }
            }

            function caliper_onMethodChange() {
                var method = document.getElementById('caliper_method').value;
                var gender = document.getElementById('caliper_gender').value;
                var allElements = document.getElementsByName("caliper_input");
                for (var i = 0; i < allElements.length; i++) {
                    disable(allElements[i]);
                }
                if (method == 31) {
                    var alter = document.getElementById('caliper_alter');
                    enable(alter);
                    if (gender == 0) {
                        var brust = document.getElementById('brust_falte');
                        var bauch = document.getElementById('bauch_falte');
                        var oberschenkel = document.getElementById('oberschenkel_falte');
                        enable(brust);
                        enable(bauch);
                        enable(oberschenkel);
                    } else if (gender == 1) {
                        var trizeps = document.getElementById('trizeps_falte');
                        var bauch = document.getElementById('bauch_falte');
                        var huefte = document.getElementById('hueft_falte');
                        enable(trizeps);
                        enable(bauch);
                        enable(huefte);
                    }
                } else if (method == 7) {
                    var alter = document.getElementById('caliper_alter');
                    enable(alter);
                    var brust = document.getElementById('brust_falte');
                    var bauch = document.getElementById('bauch_falte');
                    var achsel = document.getElementById('achsel_falte');
                    var schulterblatt = document.getElementById('schulterblatt_falte');
                    var huefte = document.getElementById('hueft_falte');
                    var oberschenkel = document.getElementById('oberschenkel_falte');
                    var trizeps = document.getElementById('trizeps_falte');
                    enable(brust);
                    enable(bauch);
                    enable(achsel);
                    enable(schulterblatt);
                    enable(huefte);
                    enable(oberschenkel);
                    enable(trizeps);
                }

                var kfa = document.getElementById('caliper_fat_result');
                kfa.style.backgroundColor = "#F6F6F6";
                enable(kfa);
            }

            function disable(element) {
                element.disabled = true;
                element.style.backgroundColor = "#111111";
                element.value = "";
            }

            function enable(element) {
                element.disabled = false;
                element.style.backgroundColor = "#ffffff";
            }
            //-->

        </script>

        <script type="text/javascript">
            window.addEventListener('load', xr_aeh, false);

        </script>
        <!--<![endif]-->
    </div>
</body>

</html>
