<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{@blog.logo}}">
    <link rel="shortcut icon" href="{{@blog.logo}}"> {{ghost_head}}
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body style="background:url('{{@blog.cover}}');background-size:cover;background-attachment:fixed;">

    <header>

        {{navigation}}

    </header>

    <div class="post-wrapper">
        {{#post}} 
        {{#if image}}<img class="cover-img" src="{{image}}">{{/if}}
        <h1>{{title}}</h1>

        {{content}}
        
        {{/post}}
        
        <div id="javascript_error">
            <span style="font-size:24pt;">Bitte aktivieren Sie JavaScript<br/></span>
            <span style="font-size:16pt;">(Diese Webseite funktioniert nicht ohne JavaScript)</span>
        </div>
        <script type="text/javascript">
            $("#javascript_error").remove();
        </script>

        <div id="header">
            <h1>Body Fat Calculator</h1>
        </div>

        <div id="contentWrapper">
            <h2 id="welcome">Welcome to the Body Fat Calculator</h2>
            <p id="description">Please insert the results of your caliper 3-point method measurements</p>
            <center>
                <img id="genderPic" src="images/female.svg" alt="measurements" height="50%"/>
                <div>
                    <small>Author: <a href="https://commons.wikimedia.org/wiki/User:Jmarchn">Jmarchn</a></small>
                </div>
                <table>
                    <tr>
                        <td colspan="2"><h3>Gender</h3></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="gender" id="genderFemale" value="female"></td>
                        <td>Female</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="gender" id="genderMale" value="male"></td>
                        <td>Male</td>
                    </tr>
                </table>

                <table id="measurements">
                    <tr>
                        <td colspan="2"><h3>Measurements</h3></td>
                    </tr>
                    <tr>
                        <td id="ageLabel">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input type="text" id="ageInput" size="4"/></td>
                    </tr>
                    <tr>
                        <td id="d0Label"></td>
                        <td><input type="text" id="d0Input" size="4"/>&nbsp;mm</td>
                    </tr>
                    <tr>
                        <td id="d1Label">Belly</td>
                        <td><input type="text" id="d1Input" size="4"/>&nbsp;mm</td>
                    </tr>
                    <tr>
                        <td id="d2Label"></td>
                        <td><input type="text" id="d2Input" size="4"/>&nbsp;mm</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3 id="resultHeader">Result</h3></td>
                    </tr>
                    <tr>
                        <td colspan="2" id="result">
                            <center id="resultLabel">
                                Result
                            </center>
                        </td>
                    </tr>
                </table>
            </center>
        </div>

    </div>
    <script type="text/javascript">
            // default gender
            var gender = 'female';
			var result = 0;
            function resetLabelsAndValues() {
                $('#d0Label').text('');
                $('#d2Label').text('');
                $('#resultLabel').html('&nbsp');
                $('#resultHeader').html('&nbsp');
            }
            function insertFemaleLabelsAndValues() {
                resetLabelsAndValues();
                $('#d0Label').text('Triceps');
                $('#d2Label').text('Hip');
                $('#genderPic').attr('src', 'images/female.svg');
            }
            function insertMaleLabelsAndValues() {
                resetLabelsAndValues();
                $('#d0Label').text('Breast');
                $('#d2Label').text('Thigh');
                $('#genderPic').attr('src', 'images/male.svg');
            }
			function calculateResult() {
				var age = parseInt($('#ageInput').val());
				var d0 = parseInt($('#d0Input').val());
				var d1 = parseInt($('#d1Input').val());
				var d2 = parseInt($('#d2Input').val());
				if(!isNaN(age) && !isNaN(d0) && !isNaN(d1) && !isNaN(d2)) {
					// do calculation
					// https://de.wikipedia.org/wiki/Calipometrie
					var S = d0 + d1 + d2;
						
					var k0 = 0;
					var k1 = 0;
					var k2 = 0;
					var ka = 0;
					if(gender == 'female') {
						k0 = 1.10938;
						k1 = -0.0008267;
						k2 = 0.0000016;
						ka = -0.0002574;
					} 
					if(gender == 'male') {
						k0 = 1.089733;
						k1 = -0.0009245;
						k2 = 0.0000056;
						ka = -0.00012828;
					}
					var result = (495/(k0 + (k1*S) + (k2 * S*S) + (ka * age))) - 450;
                    $('#resultHeader').text('Result');
                	$('#resultLabel').text(Math.round(result) + " %");
				} else{
                	$('#resultLabel').html('&nbsp');
                    $('#resultHeader').html('&nbsp');
				}
			}
            $('input[type=radio][name=gender]').change(function(e) {
                if(this.value == 'female') {
                    console.log("selected female");
                    gender = 'female';
                    insertFemaleLabelsAndValues();
					calculateResult();
                }
                else if(this.value == 'male') {
                    console.log("selected male");
                    gender = 'male';
                    insertMaleLabelsAndValues();
					calculateResult();
                }
            });
			$('#ageInput').keyup(function(e) { 
				this.value = this.value.replace(/(0|[^0-9])/g,'');
				calculateResult();
			});
			$('#d0Input,#d1Input,#d2Input').keyup(function(e) { 
				this.value = this.value.replace(/[^0-9\.]/g,'') 
				calculateResult();
			});
            // run when page has loaded
            $(document).ready(function(e) {
                if(gender == 'female') {
                    console.log("default female");
                    $('#genderFemale').prop('checked', 'checked');
                    insertFemaleLabelsAndValues();
                }
                else if(gender == 'male') {
                    console.log("default male");
                    $('#genderMale').prop('checked', 'checked');
                    insertMaleLabelsAndValues();
                }
            });
        </script>
</body>

</html>
