{{!< default}} 
<header>
    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <div class="overlay" id="overlay">
        {{navigation}}
    </div>
  {{#post}} 
    {{#if image}}
   <section class="banner" role="banner" style="background-image: url('{{image}}');background-size:cover;background-color:#1abc9c;background-blend-mode:screen;box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);">
        <a href="{{@blog.url}}"><img style="mix-blend-mode:exclusion" src="{{@blog.logo}}"></a>
    </section>
    {{else}}
    <section class="banner" role="banner">
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
    </section>
    {{/if}}
    
</header>

    <div class="post-wrapper">
        <h1>{{title}}</h1>
        <div class="post-date">{{date format="MMMM DD, YYYY"}}{{#if tags}} // {{tags separator=", " prefix="Tagged in: "}}{{/if}}</div>

        {{content}}

    </div>
    <div class="related">
        <h3>Related Posts</h3>
        <ul class="related-posts">
            {{#next_post}}
            <li>
                <h5>
                    <a href="{{url}}">
                    {{title}}
                    <small>{{date format="MMMM DD, YYYY"}}</small>
                    </a>
                </h5>
            </li>
            {{/next_post}} 
            {{#prev_post}}
            <li>
                <h5>
                    <a href="{{url}}">
                    {{title}}
                    <small>{{date format="MMMM DD, YYYY"}}</small>
                    </a>
                </h5>
            </li>
            {{/prev_post}}
        </ul>
    </div>
    {{/post}}

