{{!< default}} 
<header>
    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <div class="overlay" id="overlay">
        {{navigation}}
    </div>

    <section class="banner" role="banner">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    </section>
</header>

    <div class="post-wrapper">
        {{#post}} 
        {{#if image}}<img class="cover-img" src="{{image}}">{{/if}}
        <h1>{{title}}</h1>
        <div class="post-date">{{date format="MMMM DD, YYYY"}}{{#if tags}} // {{tags separator=", " prefix="Tagged in: "}}{{/if}}</div>

        {{content}}
        
        <hr />
        {{^is page}}
        <div class="related">
        <h3>Related Posts</h3>
        <ul class="related-posts">
            {{#next_post}}
            <li>
                <h5>
                    <a href="{{url}}">
                    {{title}}
                    <small>{{date format="MMMM DD, YYYY"}}</small>
                    </a>
                </h5>
            </li>
            {{/next_post}} 
            {{#prev_post}}
            <li>
                <h5>
                    <a href="{{url}}">
                    {{title}}
                    <small>{{date format="MMMM DD, YYYY"}}</small>
                    </a>
                </h5>
            </li>
            {{/prev_post}}
        </ul>
    </div>
    {{/is}}
        <hr />
        
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
    {{/post}}

